@import "https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap";

@import "animations/blink.css";
@import "animations/go-to-left.css";
@import "animations/scale-up.css";
@import "animations/wave.css";

@import "components/logo.css";
@import "components/navbar.css";

:root {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

  --background-color: #f1f5f9; /* Sky 100 */
  --primary-color: #1e293b; /* Sky 800 */
  --text-color: #0f172a; /* Sky 900 */

  --hover-color: #e2e8f0; /* Sky 200 */
}

@media (prefers-color-scheme: light) {
  ::selection {
    background-color: var(--hover-color);
    color: var(--text-color);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #01030e; /* Sky 975 */
    --text-color: #f1f5f9; /* Sky 100 */
  }

  pre {
    color: var(--text-color)
  }

  ::selection {
    background-color: var(--primary-color);
    color: var(--text-color);
  }
}

body {
  background-color: var(--background-color);
  color: var(--text-color);

  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
}

h1,
h2,
h3,
p,
pre {
  margin: 0;
}

input, select, option, button, textarea {
  font-family: "Inter", sans-serif;
}

p {
  line-height: 1.5;
  font-size: 16pt;
  padding: 0.5rem 0 !important;
}

pre {
  line-height: 1;
}

h1 {
  font-size: 60px;
  padding: 1rem 0 !important;
}

h2 {
  font-size: 48px;
  padding: 1rem 0 !important;
}

h3 {
  font-size: 36px;
  padding: 1rem 0 !important;
}

.tz-application {
  display: grid;
  grid-template-columns: 300px repeat(4, 1fr);
  width: 100%;
  height: 100vh;
}

.tz-align-horizontal {
  display: flex;
  flex-direction: row;
}

.tz-align-vertical {
  display: flex;
  flex-direction: column;
}

.tz-center-element {
  justify-content: center;
  align-items: center;
}

a {
  color: var(--text-color);

  &:hover {
    font-weight: 600;
  }

  &:active {
    text-decoration: none;
  }
}

.tz-hero {
  border-bottom: 2px solid #1e293b;
  padding: 32px;
}